<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input  type="text"
                        class="form-control"
                        id="nom"
                        required
                        [(ngModel)]="product.nom"
                        name="nom"
                        (keyup.enter)="moveFocus($event,'description')">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text"
                class="form-control"
                id="description"
                required
                [(ngModel)]="product.description"
                name="description"
                (keyup.enter)="moveFocus($event,'prix')">
            </div>
            <div class="form-group">
                <label for="prix">Prix</label>
                <input type="number"
                class="form-control"
                id="prix"
                required
                [(ngModel)]="product.prix"
                name="prix"
                (keyup.enter)="saveProduct()">
            </div>
            <br>
            <button class="btn btn-success" (click)="saveProduct()" >Envoyer</button>
        </div>
        <div *ngIf="submitted">
        <h4>le produit a ete soumis avec success...</h4>
        <button class="btn btn-success" (click)="newProduct()">Ajouter</button>
        </div>
    </div>
</div>