<div>
    <div *ngIf="currentProduct.identifiant" class="edit-form">
        <h4 class="text-center">Product</h4>
        <br><br>
        <form>
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" [(ngModel)]="currentProduct.nom" name="nom" />
            </div>
            <br>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" [(ngModel)]="currentProduct.description"
                    name="description" />
            </div>
            <br>
            <div class="form-group">
                <label for="description">Prix</label>
                <input type="text" class="form-control" id="prix" [(ngModel)]="currentProduct.prix" name="prix" />
            </div>
            <br>
            <div class="form-group">
                <label><strong>Status:</strong></label>
                {{ currentProduct.publication ? "Publié" : "En attente" }}
            </div>
            <br>
            <br>
        </form>
    </div>

    <div class="row">
        <div class="col-auto">
            <button class="btn btn-primary" *ngIf="currentProduct.publication" (click)="updatePublication(false)">
                Non publier
            </button>
        </div>

        <div class="col-auto">
            <button *ngIf="!currentProduct.publication" class="btn btn-primary" (click)="updatePublication(true)">
                Publier
            </button>
        </div>
        <div class="col-auto">
            <button class="btn btn-danger" (click)="deleteProduct()">
                Supprimer
            </button>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success" (click)="updateProduct()">
                Mettre à jour
            </button>
        </div>
    </div>
    
    <p>{{ message }}</p>

    <div *ngIf="!currentProduct.identifiant">
        <br />
        <p>Impossible d'accèder à ce produit...</p>
    </div>
</div>

























<!-- <div>
    <div *ngIf="currentProduct.identifiant" class="edit-form">
    <h4>Product</h4>
    <form>
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text"
                    id="nom"
                    name="Nom"
                    class="form-control"
                    required
                    [(ngModel)]="currentProduct.nom">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text"
                    class="form-control"
                    required
                    id="description"
                    [(ngModel)]="currentProduct.description">
        </div>
        <div class="from-group">
            <label for="prix">Prix</label>
            <input type="text"
                    class="form-control"
                    id="prix"
                    required
                    [(ngModel)]="currentProduct.prix">
        </div>
        <div class="form-group">
            <label><strong>Status :</strong></label>
            {{currentProduct.publication ? "Publie" : "Pending"}}
        </div>
    </form>
    <button class="badge badge-primary mr-2"
            *ngIf="currentProduct.publication"
            (click)="updatePublication(false)">
        
            non publier
    </button>
    <button class="badge badge-primary mr-2"
        *ngIf="!currentProduct.publication"
        (click)="updatePublication(true)">
    
            publier
    </button>
    <button class="badge badge-danger mr-2"
            (click)="deleteProduct()">
        
        Supprimer
    </button>
    <button class="badge badge-success mb-2"
            type="=submit"
            (click)="updateProduct()">
        mettre a jour 
    </button>
    <p>{{message}}</p>

    
    </div>

    <div *ngIf="currentProduct.identifiant">
        <br>
        <p>impossible d'acceder a ce produit ...</p>
    </div>
    
</div> -->